.textColor {
    color: var(--text-default-color);
}

.secondaryTextColor {
    color: var(--text-secondary-color);
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: 500;
}

.container {
    width: 80%;
    padding-top: 2rem;
    margin: 0 auto;
}