.title {
    font-size: 2.2rem;
}

.textColor {
    color: var(--text-default-color);
}

.secondaryText {
    color: var(--text-secondary-color);
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width: 400px) {
    .cardTitle {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 300px) {
    .cardTitle {
        font-size: 0.8rem;
    }

    .secondaryText {
        font-size: 0.7rem;
    }

    .title {
        font-size: 1.5rem;
    }
}

.container {
    width: var(--body-width);
    padding-top: 2rem;
    margin: 0 auto;
}


.switcherArrow {
    height: 4px;
    position: relative;
    width: 1rem;
}

.switcherArrow:before, .switcherArrow:after {
    content: "";
    background: #fff;
    border-radius: 4px;
    position: absolute;
    height: 2px;
    width: 9px;
}

.switcherArrow:before {
    right: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.switcherArrow:after {
    right: -5px;
    top: 2px;
    transform: rotate(-45deg);
}